.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 16px;
    margin: 16px;
}

.card {
    width: 100%; /* Ensure cards take up full width of their grid cell */
}