<div>
    <h1><b>PROJECTS</b></h1>
    <div class="card-container p-2">
        <mat-card *ngFor="let project of projects" appearance="outlined" class="mb-2 card">
            <mat-card-header style="padding-bottom: 15px">
                <span>
                    <span style="font-size: large"><b>{{project.name.toUpperCase()}}</b></span> &nbsp; <span style="font-size: medium">{{project.designation}}</span>
                </span>
            </mat-card-header>
            <mat-card-content>
                <ul style="text-align: justify;">
                    <li *ngFor="let work of project.work">{{work}}</li>
                </ul>
                <p>Tenure: {{project.tenure}}</p>
                <p><b>Technologies used: {{project.tech_used}}</b></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>