<div>
    <h1><b>PROJECTS</b></h1>
    <div class="card-container p-2">
        <mat-card *ngFor="let project of projects" appearance="outlined" class="mb-2 card" style="flex-wrap: wrap;">
            <mat-card-header style="padding-bottom: 15px">
                <mat-card-title>
                    <b>{{project.name.toUpperCase()}}</b>
                </mat-card-title>
                <mat-card-subtitle>
                    {{project.designation}}
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{project.img_url}}" height="300" width="100%" />
            <mat-card-content style="padding: 2% !important;">
                <ul style="text-align: justify;">
                    <li *ngFor="let work of project.work">{{work}}</li>
                </ul>
                <p>Tenure: {{project.tenure}}</p>
                <p><b>Technologies used: {{project.tech_used}}</b></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>