<!-- <app-skills></app-skills> -->
<!-- <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> -->
<app-header></app-header>
<div class="container" style="margin-top: 100px !important; margin: 2px solid #e9e5df !important;">
    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-portfolio-salutation></app-portfolio-salutation>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-skills></app-skills>
            <br/>
            <br/>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-projects></app-projects>
            <br/>
            <br/>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-professionals></app-professionals>
            <br/>
            <br/>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>