<mat-card appearance="outlined">
    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <img style="border-radius: 50%" height="200" width="200" src="../../assets/Kishor.jpeg"/>
            </div>
            <div class="col-md-9" style="top: 50%;">
                <p><b>MASTERS GRADUATE IN COMPUTER SCIENCE</b></p>
                <p>Motivated Computer Science graduate student with expertise in web development, machine learning, problem-Solving, collaboration and delivering innovative solutions</p>
                <p></p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="badge-base LI-profile-badge" 
                     data-locale="en_US" 
                     data-size="medium" 
                     data-theme="light" 
                     data-type="VERTICAL" 
                     data-vanity="venkat-kishor-padmanaban" 
                     data-version="v1">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </mat-card-content>
</mat-card>